.app-container {
  width: 100%;
  height: 100%;
  background: url(https://i.imgur.com/Hvaz6fk.jpg) no-repeat;
  background-attachment: cover;
  background-position: center;
}

.app-sidenav {
  height: 100%;
  width: 200px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
}

.btn-full { width: 100%; }

.card-main {
  width: 60%;
  margin-top: 50px;
}

.title-badges {
  background: #d81b60;
  padding: 3px 6px 3px 6px;
  color: white;
  border-radius: 5px;
}

.img-cover {
  height: 300px;
  object-fit: cover;
  object-position: 0px -200px;
}
