<div class="bg">
  <div fxLayout="column warp" fxLayoutAlign="center center" >

<h1 class="text-center text-title">กรุณาสมัครสมาชิคเพื่อดำเนินการต่อ</h1>
<mat-card class="def-card">
    <mat-card-content>
      <img src="https://assets.materialup.com/uploads/6970de0b-c0d4-4971-9628-fb66bac86874/preview.jpg" class="img-float" alt="">
      <p class="field-float text-center">กรุณากรอกข้อมูลให้ครบถ้วนเพื่อดำเนินการต่อ</p>
      <mat-form-field appearance="outline" class="field-float form-stacks" float-label="auto">
        <mat-label>ชื่อจริง</mat-label>
              <input matInput formControlName="name"
                     type="text"
                     required
                     placeholder="ป้อนชื่อจริงที่นี่"
                     >
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-float" float-label="auto">
          <mat-label>อีเมล์</mat-label>
              <input matInput formControlName="formControlName"
                     type="email"
                     required
                     placeholder="ป้อนอีเมล์ที่นี่">
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-float" float-label="auto">
          <mat-label>รหัสผ่าน</mat-label>
              <input matInput formControlName="formControlName"
                     type="password"
                     required
                     placeholder="ป้อนรหัสผ่านที่นี่">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="center">
        <button mat-raised-button color="primary" class="reg-btn">สมัคเลย</button>
    </mat-card-actions>

</mat-card>
<small style="color: white;">มีบัญชีอยู่แล้ว? - <a routerLink="/login">เข้าสู่ระบบ</a></small>
  </div>
</div>
